* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.side-ctrl-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 70%;
  margin: 7.5% 0;
  background-color: #1b1b80;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  color: white;
}

.side-ctrl-panel input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.side-ctrl-panel .controls .slider {
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 10px;
}
